$nav-thickness: 4rem;

.navbar {
  height: $nav-thickness;
  z-index: 1000;
  @apply w-screen fixed bottom-0 left-0 right-0 bg-white p-2;

  .active {
    @apply border-2 p-2 rounded-2xl shadow-xl border-primary scale-110 hover:scale-125 transition ease-in-out duration-150;
  }

  .inactive {
    @apply border-2 p-2 rounded-2xl shadow-xl border-transparent hover:scale-110 transition ease-in-out duration-150;
  }
}

.main {
//   height: 100vh;
  min-height: 100vh;
  padding-bottom: $nav-thickness;
  overflow-x: hidden;
  overflow-y: scroll;
  @apply w-screen;
}

.chatContainer{
    height: 100vh;
    padding-bottom: 4rem;
}

@screen lg {
  $nav-thickness: 5rem;
  .navbar {
    width: $nav-thickness;
    @apply h-screen bg-customGray-light;
  }

  .main {
    margin-left: $nav-thickness;
    margin-bottom: 0;
    padding-bottom: 0;
    width: calc(100vw - $nav-thickness);
    @apply h-screen mb-0;
  }
}
