$topbar-thickness : 4rem;

.topbar {
    height: $topbar-thickness;
    z-index: 10000;
}

.container {
    height: calc(100vh - $topbar-thickness );
.mobile {
    height: calc(100vh - $topbar-thickness - $topbar-thickness);
}    
}